[submodule "celestia-app"]
	path = celestia-app
	url = https://github.com/celestiaorg/celestia-app.git
[submodule "rollapp"]
	path = rollapp
	url = git@github.com:st-chain/rollapp.git
[submodule "dymension"]
	path = dymension
	url = git@github.com:st-chain/me-hub.git
[submodule "celestia-node"]
	path = celestia-node
	url = https://github.com/celestiaorg/celestia-node.git
[submodule "rollapp-evm"]
	path = rollapp-evm
	url = git@github.com:st-chain/rollapp-evm.git
